@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Public+Sans:wght@200&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    width: 1239px;
}

#header {
    background: rgba(255, 255, 255, 0.965);
    display: flex;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 112px;
    left: 0;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1239px;
    z-index: 100;
}

#logo {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 160px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

#logo a {
    color: rgb(154, 132, 76);
    text-decoration: none;
}

#nav {
    display: flex;
    font-size: 16px;
    position: absolute;
    right: 48px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



#nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}



#nav a {
    text-decoration: none;
    color: #000;
}

#nav ul li #home {
    color: rgb(119, 101, 58);
}

#header nav ul li {
    margin-left: 48px;
}

#banner {
    width: 1239px;
    background-image: url('./images/image3.png');
    background-size: 1239px 1330px;
    height: 1072px;
}

.imgbg {
    overflow: hidden;
    /* 背景图片不重复 */
    background-repeat: no-repeat;
    /* 背景图片位置：居中 */
    /* background-position: center; */
    /* 背景图片固定 */
    background-attachment: fixed;
    /* background-size: cover; */
    /* 禁止用户误选中 */
    user-select: none;

}

.text-box {
    color: white;
    width: 1239px;
    /* height: 25%;

    position: absolute;
    bottom: 45%; */

    text-align: center;
    margin-top: 300px;
    /* margin-left: 300px; */
    letter-spacing: 4.8px;

    line-height: 80px;
    font-size: 56px;
    font-family: 'EB Garamond', serif;
    font-weight: lighter;

}

#footer {
    /* display: flex; */
    cursor: default;
    /* justify-content: space-between;

    cursor: default;
    height: 7em;
    left: 0;
    align-items: center;
    /* position: fixed;
    bottom: 2em; */
    width: 1239px;

}


#footbox {
    display: flex;
    justify-content: space-between;
    color: white;
    /* width: 1239px; */
    height: 240px;
    /* 设置框的高度 */
    margin: 48px;
    /* 设置外边距为留白大小 */
    background-color: rgb(154, 132, 76);
    /* 设置框的背景色 */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* 文本靠左对齐 */
    box-sizing: border-box;
    /* 盒模型包括 padding 和 border 在内 */
    padding-left: 54px;

    /* 设置左边内边距，即文本和框的留白 */
    font-family: 'Roboto', sans-serif;

}

.button {
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    /* 设置边框颜色为白色 */
    color: white;
    background-color: rgb(154, 132, 76);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;

    margin-right: 176px;
    font-family: 'Roboto', sans-serif;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;



}

#contentlast {
    display: flex;
    text-decoration: none;
    margin-left: 0;
    line-height: 24px;



}

#contentlast div:not(:last-child) {
    border-right: 1.5px solid white;
    /* 添加分割线 */

    padding-right: 24px;
    /* 添加一些右侧内边距 */



}

#one {
    width: 1239px;
    height: 50%;
    /* 绝对定位 */
    /* position: absolute; */
    bottom: 25%;
    /* 文字居中 */
    text-align: center;
    background-color: white;


}

#serviceImg {
    position: relative;
    display: inline-block;
    width: 752px;
    background-image: url('images/flower.png');

    background-repeat: no-repeat;

    margin: 64px 32px 0px 64px;
}

#imgText {

    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;


}

#textBgButton {
    display: flex;
    height: 800px;

}

#party {
    width: 1239px;
    height: auto;
    background-image: url('images/image1.png');

    background-repeat: no-repeat;
    margin: 64px 64px 0px 32px;
}

#service {
    margin-top: 134px;
    letter-spacing: 9px;
    font-size: 1.3em;
}

#turn {
    margin-top: 96px;
    font-size: 1.3em;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1.6px;
    line-height: 32px;

}

#buttonDiscover {
    color: white;
    background-color: rgb(154, 132, 76);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 48px;
    padding-left: 71px;
    padding-right: 71px;
    font-size: 1.1em;
}

#about {
    text-align: center;
}

.quotes {
    font-size: 96px;
    /* Adjust size as needed */
    color: black;
    /* Adjust color as needed */
    /* position: absolute; */
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

#quotecontent {
    font-size: 40px;
    font-family: 'EB Garamond', serif;

    line-height: 60px;
    /* letter-spacing: 0.1em; */



}

#quotename {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
    color: rgb(154, 132, 76);
    padding-bottom: 48px;
    font-weight: bold;
    margin-top: 40px;

}


#two {
    /* background-image: url('images/image2.png'); */
    background-size: 1239px;
    height: 880px;
    /* background-image: url('images/image2.png') */
}

.imgbg2 {
    overflow: hidden;
    /* 背景图片不重复 */
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-size: 1239px 1330px;
    /* 禁止用户误选中 */
    user-select: none;

}

.paddingbox {
    background-clip: padding-box;

}

#border1 {
    box-sizing: border-box;
    border: 52.8px white solid;
    height: 1072px;

    margin: 0;
}

.section {
    margin: 0;
    padding: 0;
}

#Gallery {
    background-image: url('images/image2.png');
    height: 736px;
}

#galleryblock {
    position: relative;
    display: inline-block;
    width: 416px;
    background-image: url('images/flower.png');
    background-repeat: no-repeat;
    margin: 64px 32px 0px 656px;
    height: 640px;
    color: white;
    text-align: center;

}

#gallerytext1 {
    margin-top: 134px;
    font-size: 32px;
    font-family: 'Public Sans', sans-serif;
    letter-spacing: 8px;
    font-weight: bold;

}

#gallerytext2 {
    margin-top: 100px;
    font-size: 24px;
    line-height: 45px;
    font-family: 'EB Garamond', sans-serif;
    letter-spacing: 4.8px;
}

#gallerybutton {
    color: white;
    background-color: rgb(154, 132, 76);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 48px;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.1em;
}